.filterFlats {
	padding-top: 23px;
	margin-bottom: 36px;
	background-color: var(--bg-color);
	width: 100%;

	.filterFlatsTitleSquare {
		color: var(--inverted-bg-color);
		font-size: 22px;
		font-weight: 300;
		line-height: 32px;
		width: 220px;
		text-align: start;
	}

	.filterFlatsInputItems {
		border: 2px solid var(--material-theme-sys-primary);
		border-radius: 8px 8px 8px 8px;
		margin-right: 8px;

		.filterFlatsInput:nth-child(1) {
			border-right: 2px solid var(--material-theme-sys-primary);
		}

		.filterFlatsInput {
			padding: 10px 11px;
			background-color: transparent;
			color: var(--inverted-bg-color);
			width: 126px;

			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
		}
		.filterFlatsInput2 {
			width: 173px;
		}
	}

	.filterFlatsTitle {
		color: var(--inverted-bg-color);
		font-size: 28px;
		font-weight: 500;
		line-height: 44px;
		margin-bottom: 17px;
		display: flex;
		align-items: center;
		gap: 12px;
	}
	.filterFlatsWrapper {
		display: flex;
		flex-direction: column;
		gap: 12px;

		.filterFlatsSquare {
			display: flex;
			align-items: center;

			.filterFlatsCheckbox {
				display: flex;
				gap: 15px;
				margin-left: 32px;
				color: var(--material-theme-sys-primary);

				input {
					accent-color: #006d39;
					margin-right: 15px;
					border: none;
				}
			}
		}
		.filterFlatsItemBlog {
			display: flex;
			align-items: center;

			.filterFlatsGroupBtn {
				display: flex;
				align-items: center;
				gap: 8px;

				.filterFlatsBtn {
					padding: 10px 24px;
					border-radius: 20px;

					color: var(--material-theme-sys-primary);
					text-align: center;
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}
}
