.Status {
	display: flex;
	padding: 0px 11px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: rgba(255, 0, 0, 0.3);
	color: white;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 145.455% */
	background: rgba(0, 109, 57, 0.5);
}
