.InputWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #717971;
}

.placeholder {
	color: #414941;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 133.333% */
}

.input {
	background: transparent;
	border: none;
	outline: none;
	width: 100%;
	color: var(--matrial-theme-def-green);
	// color: transparent;
	text-shadow: 0 0 0 var(--primary-color);

	&:focus {
		outline: none;
	}
}

.caretWrapper {
	padding-left: 4px;
	flex-grow: 1;
	position: relative;
}

.caret {
	height: 3px;
	width: 9px;
	background: var(--primary-color);
	bottom: 0;
	left: 0;
	position: absolute;
	animation: blink 0.7s forwards infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.01;
	}

	100% {
		opacity: 1;
	}
}
