.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;
	.themeSwitch {
		padding: 10px;
	}
}

.butt {
	width: 100px;
}

.MainButton {
	width: 100px;
}

.select {
	// width: 160px;
}
