.main {
	display: flex;
	align-items: center;
	gap: 18px;
	.butt {
		max-width: 140px;
		border-radius: 100px;
	}
	.test {
		padding: 20px 20px;
	}
	.gg {
		max-width: 140px;
		border-radius: 12px;
		// padding: 40px 20px;
	}
}
