.app.dark {
	--bg-color: #101415;
	--inverted-bg-color: #fff;

	--primary-color: #00391b;
	--secondary-color: #04ff04;
	--inverted-primary-color: #0232c2;
	--inverted-secondary-color: #0452ff;

	--material-theme-sys-on-primary: #00391b;
	--material-theme-sys-primary: #46e185;

	--material-theme-state-layers-sys-primary-opacity-008: #d0bcff14;
	--material-theme-sys-outline: #8b938a;

	--material-theme-sys-surface-container-low: #191c1d;

	--material-theme-sys-secondary-container: #00497b;
	--material-theme-sys-on-secondary-container: #d0e4ff;

	--disabled: #e6e0e91f;
	--disabled-text: #c4c7c7;

	--matrial-theme-def-green: #46e185;
	--matrial-theme-invert-def-green: #006d39;

	--font-gray-def: #006d39;

	--shadow-gray: #212221;
	--heart-like-border: #006d39;

	--main-text: #46e185;

	//new color
	--material-theme-sys-light-secondary-container: #596d86;
}
