.app {
	--bg-color: #fff;
	--inverted-bg-color: #101415;

	--primary-color: #006d39;
	--secondary-color: #0449e0;
	--inverted-primary-color: #049604;
	--inverted-secondary-color: #04ff04;

	--material-theme-sys-on-primary: #fff;
	--material-theme-sys-primary: #00391b;

	--material-theme-state-layers-sys-primary-opacity-008: #6750a414;
	--material-theme-sys-outline: #006d39;

	--material-theme-sys-surface-container-low: #f2f4f4;

	--material-theme-sys-secondary-container: #d0e4ff;
	--material-theme-sys-on-secondary-container: #001d35;

	--disabled: #1d1b201f;
	--disabled-text: #191c1d;

	--matrial-theme-def-green: #006d39;
	--matrial-theme-invert-def-green: #46e185;
	--font-gray-def: #414941;

	--shadow-gray: rgba(0, 0, 0, 0.25);
	--heart-like-border: #fff;

	--main-text: #101415;
	--material-theme-sys-light-outline: #717971;

	//?new color
	--material-theme-sys-light-secondary-container: #D0E4FF;
}
