.app {
	--bg-color: #fff;
	--inverted-bg-color: #101415;

	--primary-color: #006d39;
	--secondary-color: #0449e0;
	--inverted-primary-color: #049604;
	--inverted-secondary-color: #04ff04;

	--material-theme-sys-on-primary: #fff;
	--material-theme-sys-primary: #00391b;

	--material-theme-state-layers-sys-primary-opacity-008: #6750a414;
	--material-theme-sys-outline: #006d39;

	--material-theme-sys-surface-container-low: #f2f4f4;

	--material-theme-sys-secondary-container: #d0e4ff;
	--material-theme-sys-on-secondary-container: #001d35;

	--disabled: #1d1b201f;
	--disabled-text: #191c1d;
}
